
<div name="Index">

        <div id="FilterContainor">

            <select name="FilterCol">
                <option value="">Select a Column</option>

                <option value="AvgPrice">Avg Price</option>
                <option value="MaxPrice">Max Price</option>
                <option value="MinPrice">Min Price</option>
                <option value="AvgCongestion">Avg Congestion</option>
                <option value="MaxCongestion">Max Congestion</option>
                <option value="MinCongestion">Min Congestion</option>
            </select>

            <input name="MaxNum" type="number" placeholder="max" />

            <input name="MinNum" type="number" placeholder="min" />

						<p class = "ErrorMsg" id = "FilterError">more info needed</p>
						<p class = "ErrorMsg" id = "DifferenceError">min is larger than max</p>
        </div>

        <div id="SortContainor">

            <select name="SortCol">
                <option value="" selected>Select a Column</option>

                <option value="Node">Node</option>
                <option value="Iso">ISO</option>
                <option value="NodeType">Node Type</option>
                <option value="PricingType">Pricing Type</option>
                <option value="State">State</option>
                <option value="County">County</option>
                <option value="AvgPrice">Avg Price</option>
                <option value="MaxPrice">Max Price</option>
                <option value="MinPrice">Min Price</option>
                <option value="AvgCongestion">Avg Congestion</option>
                <option value="MaxCongestion">Max Congestion</option>
                <option value="MinCongestion">Min Congestion</option>
            </select>

            <select name="SortMethod">
                <option value="">Select Sorting Pattern</option>

                <option value="asc">ABC / 123</option>
                <option value="desc">CBA / 321</option>
            </select>

						<p class = "ErrorMsg" id = "SortError">more info needed</p>
        </div>

        <input id="UpdateList" type="submit" value="Update List" />

    <div id="EnergyReadings">

			<p class = "ErrorMsg" id = "NoDataError">No data was found</p>

	    <ul>

	    </ul>
    </div>
</div>
