@model  energyDataApp.Models.SearchParms

<div id="Index">

    <form method="post" asp-controller="Home" asp-action="Create">

        <div id="FilterContainor">

            <select asp-for="FilterCol" >
                <option value="">Select a Column</option>

                <option value="avgprice">Avg Price</option>
                <option value="maxprice">Max Price</option>
                <option value="minprice">Min Price</option>
                <option value="avgcongestion">Avg Congestion</option>
                <option value="maxcongestion">Max Congestion</option>
                <option value="mincongestion">Min Congestion</option>
            </select>

            <input asp-for="MaxNum" type="number" placeholder="max" />

            <input asp-for="MinNum" type="number" placeholder="min" />

        </div>

        <div id="SortContainor">

            <select asp-for="SortCol">
                <option value="">Select a Column</option>

                <option value="node">Node</option>
                <option value="iso">ISO</option>
                <option value="nodetype">Node Type</option>
                <option value="pricingtype">Pricing Type</option>
                <option value="state">State</option>
                <option value="county">County</option>
                <option value="avgprice">Avg Price</option>
                <option value="maxprice">Max Price</option>
                <option value="minprice">Min Price</option>
                <option value="avgcongestion">Avg Congestion</option>
                <option value="maxcongestion">Max Congestion</option>
                <option value="mincongestion">Min Congestion</option>
            </select>

            <select asp-for="SortMethod">
                <option value="">Select Sorting Pattern</option>

                <option value="abc">ABC / 123</option>
                <option value="cba">CBA / 321</option>
            </select>

        </div>

        <input type="submit" value="Update List" />

        <div id="EnergyReadings">

            <ul>

                <li>

                    <div id="BasicInfo">

                        <div id="row1">
                            <p>Node</p>
                            <p>0096WD_7_N001</p>
                            <p>State</p>
                            <p>UT</p>
                            <p>ISO</p>
                            <p>CAISO</p>
                        </div>

                        <div id="row2">
                            <p>Node Type</p>
                            <p>NODE</p>
                            <p>County</p>
                            <p>Salt Lake</p>
                            <p>Pricing Type</p>
                            <p>Real Time</p>
                        </div>
                    </div>

                    <div id="NumericalInfo">

                        <div id="row1">
                            <p>Avg Price</p>
                            <p>35.575122</p>
                            <p>Max Pric</p>
                            <p>21530.15522</p>
                            <p>Min Price</p>
                            <p>-31.223837</p>
                        </div>

                        <div id="row2">
                            <p>Avg Congestion</p>
                            <p>-1.648036</p>
                            <p>Max congestion</p>
                            <p>311.54138</p>
                            <p>Min Congestion</p>
                            <p>-295.783445</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
     </form>
</div>
